<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order List</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
            .div1
            {
                background-color: whitesmoke;
               
                width: 45%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 35px;
                font-size: 16px;
                padding: 20px;
                margin-bottom: 20px;
            }
            input[type=label]
            {
                font-size: 20px;
            padding-top:10px;
            }



    </style>
</head>

<body style="background-image: url(../static/kk.jpg);background-size: cover;">
<div class="div1">
     <br>
        <center><h2>Booking</h2></center>
    <div class="row">
        
        <div class="col-sm-4">
            <label>Customer name</label>
        </div>
        
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input type="text"class="form-control" placeholder="First Name">
        </div>
        
        <div class="col-sm-4">
            <input type="text"class="form-control" placeholder="Middle Name">
        </div>
        <div class="col-sm-4">
            <input type="text"class="form-control" placeholder="Last Name">
        </div>
        
    </div><br>
        <div class="row">
        
        <div class="col-sm-4">
            <label>Contact No</label>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label>Email Id</label>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Enter contact no">
        </div>
        <div class="col-sm-6">
            <input type="text"class="form-control"placeholder="Enter email id">
    </div>
        
    </div><br>
    <div class="row">
        
        <div class="col-sm-4">
            <label>Address</label>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label>Product Name</label>
        </div>
    
    </div>
    <div class="row">
        <div class="col-sm-6">
            <textarea class="form-control" placeholder="Enter Address"></textarea>
        </div>
        <div class="col-sm-6">
            <input type="text"class="form-control" placeholder="Enter product name">
        </div>
        
    </div><br>
    <div class="row">
        
        <div class="col-sm-4">
            <label>Quantity</label>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <label>Price</label>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text"class="form-control" placeholder="Enter quantity">
        </div>
        <div class="col-sm-6">
            <input type="text"class="form-control"  placeholder="Enter price">
        </div></div><br>

        <div class="row">
         <div class="col-sm-4">
            <label>Total Amount</label>
        </div>   
    </div>
    <div class="row">
        
        <div class="col-sm-6">
            <input type="text"class="form-control"  placeholder="total amount">
        </div></div><br>
     
     <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input type="button"  value="Login" class="btn btn-primary btn-active form-control" >
                </div>
                </div>
</div>
</body>
</html>